*{
  padding: 0;
  margin: 0;
}
body{
  background-color: maroon;
}
.navbar { background-color: maroon !important; /* barre de navigation en marron */ } 
.navbar .nav-link { color: white !important; /* liens en blanc pour être lisibles */ }
 .navbar .nav-link:hover { color: #ffd700 !important; /* couleur dorée au survol */ }